//Foonts
$fMain: 'Sarabun',
sans-serif;
//Colors
$cBgGradient:linear-gradient(90deg, #2B6F76 0%, #4E4376 100%);
$cBgWithe:linear-gradient(90deg, #FDFBFB 0%, #EBEDEE 100%);
$cBlue: linear-gradient(90deg, #1E3C72 0%, #1E3C72 1%, #2A5298 100%);
$cSilver: linear-gradient(90deg, #868F96 0%, #596164 100%);
//Size
$fw300: 300;
$fw400: 400;
$fw600: 600;
$fw800: 800;
//Separation
$small: 3rem;
$medium: 5rem;
$big: 7rem;