.section__appointment {
    margin-top: $small;
    h2 {
        text-align: center;
        background: $cSilver;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.appointment {
    width: 90%;
    margin-top: $small;
    .appointment-information {
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        label {
            flex: 0 0 10rem;
            padding-left: 3rem;
            background: $cBlue;
            font-weight: $fw800;
            font-size: 2rem;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        input {
            flex: 1;
            border: none;
            padding: 1.5rem 1rem 1.5rem 1rem;
            border: 5px solid;
            border-radius: 1rem;
            border-image-slice: 1;
            border-image-source: $cBlue;
        }
    }
}

.alert {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
    background: crimson;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: $fw800;
    color: white;
}