.section__services {
    margin-top: $small;
    h2 {
        text-align: center;
        background: $cSilver;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.services {
    margin-top: $small;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $medium;
    .service {
        background: $cSilver;
        padding: 2.5rem 0;
        text-align: center;
        border-radius: 1rem;
        p {
            color: $cWithe;
            font-size: 2rem;
        }
    }
}