        .section__summary {
            h2 {
                text-align: center;
                margin-top: $small;
                background: $cSilver;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            h3 {
                text-align: center;
                margin-top: 2rem;
                background: $cBlue;
                font-size: 2rem;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        
        .client__section {
            width: 70%;
            margin: 0 auto;
            padding: 1rem;
            border: 5px solid #1E3C72;
            border-radius: 1rem;
            margin-top: 1rem;
            .client__content {
                display: flex;
                align-items: center;
                p {
                    &:first-of-type {
                        width: 15%;
                        background: $cBlue;
                        font-size: 2rem;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: $fw800;
                    }
                    &:last-of-type {
                        background: $cSilver;
                        font-size: 2rem;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: $fw800;
                    }
                }
                margin-bottom: 1rem;
                &:last-of-type {
                    margin: 0;
                }
            }
        }
        
        .services__section {
            width: 70%;
            height: 20rem;
            margin: 0 auto;
            padding: 1rem;
            border: 5px solid #1E3C72;
            border-radius: 1rem;
            margin-top: 1rem;
            overflow: hidden;
            overflow: scroll;
            .contentServices {
                margin-bottom: 2rem;
                border-bottom: 3px solid #1E3C72;
                padding: 1rem 0;
            }
            .nameService__content,
            .costService__content {
                display: flex;
                width: 100%;
                p {
                    &:first-of-type {
                        width: 15%;
                        background: $cBlue;
                        font-size: 2rem;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: $fw800;
                    }
                    &:last-of-type {
                        background: $cSilver;
                        font-size: 2rem;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: $fw800;
                    }
                }
                margin-bottom: 1rem;
            }
        }
        
        .message {
            display: block;
            text-align: center;
            padding: 1.5rem 0;
            width: 80%;
            margin: 0 auto;
            margin-top: 3rem;
            background: crimson;
            color: white;
            font-size: 2rem;
            border-radius: 1rem;
        }
        
        .total-content {
            text-align: center;
            margin-top: 1rem;
            font-weight: $fw800;
            background: $cSilver;
            font-size: 2rem;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }