.tabs {
    max-width: 100%;
    margin-top: $big;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    @media (min-width: 1200px) {
        column-gap: 5rem;
    }
    button {
        cursor: pointer;
    }
}

.button {
    padding: 1.5rem 5rem;
    border-radius: 1rem;
    background: $cSilver;
    color: $cWithe;
    &.select-section {
        background: $cBlue;
    }
}