.application-section {
    padding: $small 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    @include mq(1100px) {
        grid: none;
    }
    .image {
        background-image: url(../../../build/img/barber.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-top-left-radius: 2.5rem;
        border-bottom-left-radius: 2.5rem;
        @include mq(1100px) {
            display: none;
        }
    }
    .app {
        background: $cBgWithe;
        border-top-right-radius: 2.5rem;
        border-bottom-right-radius: 2.5rem;
        padding: 2rem $small;
        img {
            display: block;
            margin: auto;
        }
        .hide-section {
            display: none;
        }
        @include mq(1100px) {
            border-radius: 2.5rem
        }
    }
}